
{% extends "../base.html" %}
{% load static %}
{% block title %}product details{% endblock title %}
{% block content %}
<!-- Page Add Section Begin -->
<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h2>Shirts<span>.</span></h2>
                    <a href="#">Home</a>
                    <a href="#">Dresses</a>
                    <a class="active" href="#">Night Dresses</a>
                </div>
            </div>
            <div class="col-lg-8">
                <img src="{% static 'img/add.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->

<!-- Product Page Section Begin -->
<section class="product-page">
    <div class="container">
        <div class="product-control">
            <a href="#">Previous</a>
            <a href="#">Next</a>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="product-slider owl-carousel">
                    <div style="height:80%; width: 350px;" class="product-img">
                        <figure>
                            <img src="{{product.thumbnail}}" alt="">
                        </figure>
                    </div>
                    {% comment %} <div class="product-img">
                        <figure>
                            <img src="{% static 'img/product/product-1.jpg' %}" alt="">
                            <div class="p-status">new</div>
                        </figure>
                    </div> {% endcomment %}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-content">
                    <h2>{{product.title|truncatewords:2}}</h2>
                    <div class="pc-meta">
                        <h5>${{product.price}}</h5>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    {% if product.instock %}
                    <p style="color:green">Instock</p>
                    {% else %}
                    <p style="color:red">Out of stock</p>
                    {% endif %}
                    </div>
                    <p>{{product.description}}</p>
                    <ul class="tags">
                        <li><span>Category :</span> {{product.category.title}}</li>
                        {% comment %} <li><span>Tags :</span> man, shirt, dotted, elegant, cool</li> {% endcomment %}
                    </ul>
                    {% if product.instock %}
                    <button s href="#" class="primary-btn pc-btn">Add to cart</button>
                    {% endif %}
                  
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Page Section End -->

<!-- Related Product Section Begin -->
<section class="related-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>Related Products</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for relatedproduct in related_products|slice:4 %}
            <div class="col-lg-3 col-sm-6">
                <div class="single-product-item">
                    <figure>
                        <a href="{% url "product_details" relatedproduct.slug %}"><img style="height:300px" src="{{relatedproduct.thumbnail}}" alt=""></a>
                    </figure>
                    <div class="product-text">
                        <a href="{% url "product_details" relatedproduct.slug %}"> <h6>{{relatedproduct.title}}</h6></a>
                        <p>${{relatedproduct.price}}</p>
                    </div>
                </div>
                
            </div>
            {% endfor %}
           
        </div>
    </div>
</section>
<!-- Related Product Section End -->

{% endblock content %}
